/* --primary-100:#d4eaf7;
--primary-200:#b6ccd8;
--primary-300:#3b3c3d;
--accent-100:#71c4ef;
--accent-200:#00668c;
--text-100:#1d1c1c;
--text-200:#313d44;
--bg-100:#fffefb;
--bg-200:#f5f4f1;
--bg-300:#cccbc8; */
  
.bg-light {
  --bs-bg-opacity: 0; 
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}


a {
  text-decoration: none;
}

.navbar {
  margin-top: 0 !important;
  width: 100vw;

  
}

.footer{
  width: 100vw;
}

body {
 
  font: 10px;
  font-family: 'Open Sans', sans-serif;
  --bs-body-bg: #ffffff;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
  font-family: 'Open Sans', sans-serif;
  
}

p {
  font-family: 'Open Sans', sans-serif;

}

.square-image-container {
  width: 100%;
  padding-top: 70%; 
  position: relative;

}

.square-image-container img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%; 
  height: 100%;
  transform: translateX(-50%);
  object-fit: cover;
  object-position: top; 
}

.connect-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px; 
}


.connect-image img {
  max-width: 50%;
  max-height: 50%;
}

.choose-service-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px; 
}

.choose-service-image img {
  max-width: 50%;
  max-height: 50%;
}


.meet-greet-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.meet-greet-image img {
  max-width: 50%;
  max-height: 50%;
}

.verified-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px; 
}

.verified-image img {
  max-width: 50%;
  max-height: 50%;
}

