/* --primary-100:#d4eaf7;
--primary-200:#b6ccd8;
--primary-300:#3b3c3d;
--accent-100:#71c4ef;
--accent-200:#00668c;
--text-100:#1d1c1c;
--text-200:#313d44;
--bg-100:#fffefb;
--bg-200:#f5f4f1;
--bg-300:#cccbc8; */
  


body {
  padding: 25px;
  font: 10px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
  font-family: 'Open Sans', sans-serif;
  
}

p {
  font-family: 'Open Sans', sans-serif;font-family: 'Open Sans', sans-serif;
}

.square-image-container {
  width: 100%;
  padding-top: 70%; 
  position: relative;

}

.square-image-container img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%; 
  height: 100%;
  transform: translateX(-50%);
  object-fit: cover;
  object-position: top; 
}

