body {
  padding: 25px;
  font: 10px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
  font-family: 'Open Sans', sans-serif;
  
}

.p {
  font-family: 'Open Sans', sans-serif;font-family: 'Open Sans', sans-serif;
}

.square-image-container {
  width: 100%;
  padding-top: 70%; 
  position: relative;

}

.square-image-container img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%; 
  height: 100%;
  transform: translateX(-50%);
  object-fit: cover;
  object-position: top; 
}

