

<div class="container">
    <div class="row justify-content-center" style="height: 5em;">
    <div class=" col-8">
    </div>
  </div>
     <!-- Heading -->
  <div class="row justify-content-center" style="height: 10em;">
    <div class=" col-8">
        <h1>Welcome to Pawpal</h1>
    </div>
  </div>
  <!-- Row 1 -->
  <div class="row justify-content-center" style="height: 10em;">
    <div class=" col-8">
        <h2> Pet Sitters Near You</h2>
    </div>
  </div>
  <!-- Row 2 -->
  <div class="row justify-content-center" style="height: 10em;">
    <div class="col-8">
        <h2> Here's how Pawpal works.</h2>
    </div>
  </div>
  <!-- Row 3 -->
  <div class="row justify-content-center" style="height: 10em;">
    <div class="col-8">
        <h2> Become a Pawpal today!</h2>
    </div>
  </div>
  <!-- Row 4 -->
   <div class="row justify-content-center" style="height: 10em;">
     <div class="col-8">
        <h2> A glowing review </h2>
    </div>
  </div>
  <!-- Row 5 -->
  <div class="row justify-content-center" style="height: 10em;">
     <div class="col-8">
        <h2> Services on Pawpal</h2>
    </div>
  </div>

</div>