<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{appTitle}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>




<div class="container-lg">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center d-none d-md-block ">
        <img class ="img-fluid rounded" src="/images/pets.jpg" alt="pets">
      </div>
      <div class="col-md-6 text-center text-md-start">
        <h1>
          <div class = "display-4">Pawpal</div>
          <div class = "display-6 text-muted"> The place for pets </div>
        </h1>
             <p class ="lead my-4 text-muted">Pawpal, your go-to platform for pet care, connects pet owners with local, trusted pet sitters for sitting, boarding, and walking services. Browse vetted sitter profiles for peace of mind, ensuring your furry friends are in safe and loving hands.</p>
             <a href="/signup" class ="btn btn-secondary btn-lg">Sign Up</a>
      </div>
    
    </div>
  </div>


<div class="container-lg pt-4"></div>


   <!-- Review Section -->
<div class="container-lg">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12 text-center ">
        <img class ="img-fluid rounded" src="/images/review.jpg" alt="pawpal logo">
      </div>
    </div>
  </div>

<div class="container-lg pt-4"></div>


<!-- Services Section -->
<section id="services" class=" rounded col-12 ">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center"> 
        <div class="display-6 mt-3 " style="color: black;"> Services </div>
        <a href="/all-sitters" class="btn btn-secondary btn-m mt-3">Search now</a>

        <div class="row row-cols-1 row-cols-md-3 g-3 my-3  mb-5 justify-content-center"> 

          <!-- First Service Card -->
          <div class="col-4 col-md-3"> 
            <div class="card border-0 h-100">
              <div class="card-body text-center py-5" >
                <img class="img-fluid service-image" style="max-width: 30%; height: auto;" src="/images/pet-sitting-logo.png" alt="pet sitting logo">
                <h4 class="card-title">Dog Sitting</h4>
                <p class="lead card-subtitle">Find a dog sitter near you</p>
                
              </div>
            </div>
          </div>

          <!-- Second Service Card -->
          <div class="col-4 col-md-3"> 
            <div class="card border-0 h-100">
              <div class="card-body text-center py-5">
                <img class="img-fluid service-image" style="max-width: 30%; height: auto;"src="/images/boarding-logo.png" alt="boarding logo">
                <h4 class="card-title">Pet Boarding</h4>
                <p class="lead card-subtitle">Find a pet friendly home.</p>
                
              </div>
            </div>
          </div>

          <!-- Third Service Card -->
          <div class="col-4 col-md-3">
            <div class="card border-0 h-100">
              <div class="card-body text-center py-5">
                <img class="img-fluid service-image" style="max-width: 30%; height: auto;" src="/images/walking-logo.png" alt="Walking logo">
                <h4 class="card-title">Walking</h4>
                <p class="lead card-subtitle">Find a dog walker near you.</p>
              
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  
</section>


<div class="container-lg pt-4"></div>
<div class="container-lg pt-4"></div>






</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>

