<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{appTitle}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<nav class="navbar navbar-expand-sm nav-fill fw-bold mb-4" style="background-color: #3b82f680;">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img src="/images/pawpal-logo.png" alt="Pawpal Logo" style="width:50px;">
    </a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="color: white; text-decoration: none;" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white; text-decoration: none;" href="/all-sitters">Pet Sitters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white; text-decoration: none;" href="/find-my-pet">Pets</a>
      </li>
      
      {{#if currentUser}}
      <li class="nav-item">
         <a class="nav-link" style="color: white; text-decoration: none;"  href="/auth/profile/{{currentUser.username}}">My Profile</a>
      </li>
      <li class="nav-item">        
          <form id="logout-form" action="/logout" method="POST">
            <button class="btn btn-outline-secondary" style="color: white; text-decoration: none;" type="submit">Logout</button>
          </form>
          </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" style="color: white; text-decoration: none;" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"style="color: white; text-decoration: none;" href="/login">Login</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>



{{{body}}}



<footer class="footer mt-4 py-3" style="background-color: #3b82f680;">
    <div class="container mt-5">
        <div class="row">
            <!-- Learn More Column -->
            <div class="col-md-4">
                <h5 style="color: white; font-size: 24px;">Learn More</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="color: white; text-decoration: none;">How does PawPal work</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">FAQ for Pet Owners</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">FAQ for Pet Sitters</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Dog Walking</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Dog Sitting</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Cat Sitting</a></li>
                </ul>
            </div>
            
            <!-- About PawPal Column -->
            <div class="col-md-4">
                <h5 style="color: white; font-size: 24px;">About PawPal</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="color: white; text-decoration: none;">Our Story</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">In the Press</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Help</a></li>
                </ul>
            </div>
            
            <!-- Find Us On Column -->
            <div class="col-md-4">
                <h5 style="color: white; font-size: 24px;">Find us on</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="color: white; text-decoration: none;">Facebook</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Instagram</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Twitter</a></li>
                </ul>
            </div>
        </div>
        
        <!-- Copyright and Policies Section -->
        <div class="row" style="background-color: #3b82f68;">
            <div class="col-md-12 text-center">
                <p class="text-muted">
                    Copyright © 2013-2024 Pawpal Inc. All Rights Reserved.
                    <br>
                    <a href="#" style="color: white; text-decoration: none;">Terms and Conditions</a> | <a href="#" style="color: white; text-decoration: none;">Privacy & Cookie Policy</a>
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
