<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{appTitle}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>



<body>




<div class="container">
  <div class="row align-items-center" style="background-color: rgba(255, 255, 255, 0.5);">
    
    <form action="/signup" method="POST" class="col-md-6">


<!-- UsernameInput -->

            <div class = "display-5">Sign Up </div>
      <div class="mb-3">
      
        <label for="inputEmail" class="form-label">Username</label>
        <input type="username" class="form-control" id="inputEmail" name="username" placeholder="Enter your username">
      </div>

      <!-- Email Input -->


      <div class="mb-3">
      
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="example@email.com">
      </div>
      <!-- Password Input -->
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Enter your password">
      </div>


       <!-- Row 8 -->
        <div class="row">
    <div class="col">    
        <div class="text-start mb-3">
            <h5 class="mb-3">Select your role</h5>
            <select class="form-select" name="role">
                <option value="">Choose...</option>
                <option value="Pet Sitter">Pet Sitter</option>
                <option value="Pet Owner">Pet Owner</option>
            </select>
        </div>
    </div>
</div>




      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <!-- End of Form -->

    <!-- Illustration Column -->
    <div class="col-md-6 d-none d-md-block" >
      <img src="/images/signup1.jpg" style="border-radius: 50%"alt="sign up" class="img-fluid">
    </div>
  </div>
</div>





    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  
</div>

</body>